<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.ReleaseMapper">

	<!-- <resultMap type="com.itwillbs.domain.ProductVO" id="productMap">
		<result property="pno" column="pno"/>
		<result property="category_code" column="category_code"/>
		<result property="pname" column="pname"/>
		<result property="regdate" column="regdate"/>
		<result property="update_date" column="update_date"/>
		<result property="price" column="price"/>
		<result property="company" column="company"/>
		<result property="sales_price" column="sales_price"/>
		<result property="divcode" column="divcode"/>
		<result property="count" column="count"/>
		<result property="account_code" column="account_code"/>
		<result property="warehouse_code" column="warehouse_code"/>
		<result property="finish_count" column="finish_count"/>
		<result property="remain_count" column="remain_count"/>
		
		<collection property="codeVO" resultMap="codeVO"/>
	</resultMap> -->
	
	<resultMap type="com.itwillbs.domain.ReleaseVO" id="releaseMap">
        <result property="pno" column="pno"/>
        <result property="divcode" column="divcode"/>
        <result property="id" column="id"/>
        <result property="pname" column="pname"/>
        <result property="category" column="category"/>
        <result property="release_date" column="release_date"/>
        <result property="update_date" column="update_date"/>
        <result property="price" column="price"/>
        <result property="order_date" column="order_date"/>
        <result property="order_count" column="order_count"/>
        <result property="delivery_company" column="delivery_company"/>
        <result property="release_count" column="release_count"/>
        <result property="error_count" column="error_count"/>
        
        <collection property="deliveryVO" resultMap="deliveryVO"/>
        <collection property="codeVO" resultMap="codeVO"/>
<!--         <collection property="errorVO" resultMap="errorVO"/> -->
<!--         <collection property="warehouseVO" resultMap="warehouseVO"></collection> -->
    </resultMap>
	
	<resultMap type="com.itwillbs.domain.CodeVO" id="codeVO">
		<result property="divcode" column="divcode"></result>
		<result property="daecode" column="daecode"></result>
		<result property="smcode" column="smcode"></result>
		<result property="korname" column="korname"></result>
	</resultMap>
	
	<resultMap type="com.itwillbs.domain.DeliveryVO" id="deliveryVO">
        <result property="delivery_company" column="delivery_company"></result>
        <result property="delivery_phone" column="delivery_phone"></result>
        <result property="delivery_manager" column="delivery_manager"></result>
    </resultMap>
    
    <resultMap type="com.itwillbs.domain.ErrorVO" id="errorVO">
        <result property="pno" column="pno"/>
        <result property="pname" column="pname"/>
        <result property="divcode" column="divcode"/>
        <result property="count" column="count"/>
        <result property="regdate" column="regdate"/>
        <result property="warehouse_code" column="warehouse_code"/>
    </resultMap>
    
	<resultMap type="com.itwillbs.domain.WarehouseVO" id="warehouseVO">
        <result property="warehouse_code" column="warehouse_code"/>
        <result property="category_code" column="category_code"/>
        <result property="location" column="location"/>
        <result property="pname" column="pname"/>
        <result property="capacity" column="capacity"/>
        <result property="manager" column="manager"/>
        <result property="regdate" column="regdate"/>
        <result property="update_date" column="update_date"/>
    </resultMap>
	
	<select id="getReleaseList" resultMap="releaseMap">
		select * 
		from product p 
		join code c 
		on c.divcode = p.divcode
		where p.divcode = 4
	</select>


	<select id="getReleaseInfoList" resultType="ReleaseVO">
		select * from tbl_release
		where pno=#{pno}
		order by pno
	</select>

	<update id="upReleaseModify" parameterType="ReleaseVO">
		update tbl_release
		set order_count=#{order_count}, update_date=now()
		where pno=#{pno}
	</update>

	<delete id="deRelease">
		delete from tbl_release
		where pno=#{pno}
		order by divcode
	</delete>

	<select id="selectCodeList" resultType="codeVO">
		select * from code where
		divcode=4 or divcode=5 or divcode=6 or divcode=8
	</select>
	
<!-- 	inspection POST -->
	<update id="updateCode">
		update tbl_release set divcode=#{divcode}
		where pno = #{pno}
	</update>

	<select id="getUpdatedData" parameterType="String" resultType="ReleaseVO">
		SELECT * FROM tbl_release 
		WHERE pno = #{pno}
	</select>
	
		
	<!-- 글 목록 조회(페이징처리-Cri) -->
	<select id="releaseMainListCri" resultMap="releaseMap">
		<![CDATA[
		select * from tbl_release
		where divcode > 0
		limit #{startPage},#{pageSize} 
		]]> <!-- #{Cri.(get)page}, #{Cri.(get)pageSize} -> #{} = get 메서드 호출  -->
	</select>
	
	<!-- 글 목록 조회(페이징처리-Cri) divcode == 5 -->
	<select id="criDiv5" resultMap="releaseMap">
		<![CDATA[
		select * from tbl_release
		where divcode = 5
		limit #{startPage},#{pageSize} 
		]]> <!-- #{Cri.(get)page}, #{Cri.(get)pageSize} -> #{} = get 메서드 호출  -->
	</select>
	
	<!-- 글 목록 조회(페이징처리-Cri) divcode == 6 -->
	<select id="criDiv6" resultMap="releaseMap">
		<![CDATA[
		select * from tbl_release
		where divcode = 6
		limit #{startPage},#{pageSize} 
		]]> <!-- #{Cri.(get)page}, #{Cri.(get)pageSize} -> #{} = get 메서드 호출  -->
	</select>
	
	<!-- 글 목록 조회(페이징처리-Cri) divcode == 8 -->
	<select id="criDiv8" resultMap="releaseMap">
		<![CDATA[
		select * from tbl_release
		where divcode = 6
		limit #{startPage},#{pageSize} 
		]]> <!-- #{Cri.(get)page}, #{Cri.(get)pageSize} -> #{} = get 메서드 호출  -->
	</select>
		
	<!-- 총 글의 개수 -->
	<select id="totalCount" resultType="int">
		select count(pno) from tbl_release
	</select>
	
	<select id="div5Count" resultType="int">
		select count(pno) from tbl_release
		where divcode = 5
	</select>
	
	<select id="div6Count" resultType="int">
		select count(pno) from tbl_release
		where divcode = 6
	</select>
	
	<select id="div8Count" resultType="int">
		select count(pno) from tbl_release
		where divcode = 6 AND error_count > 0
	</select>
	
	
<!-- 검수완료 -->
	<update id="upSubtractRelease">
		update tbl_release 
		set release_count = IFNULL(release_count,0) + #{release_count},
		error_count = order_count - #{release_count},
		order_count = order_count - error_count - #{release_count}, release_date = now()
		where pno=#{pno}
	</update>
	
	<select id="getupSubtractRelease" resultType="ReleaseVO">
		select * from tbl_release
		where pno=#{pno}
	</select>
	
<!-- 	제품 불량 -> 에러 -->
	<update id="upErrorRelease">
		update tbl_release set error_count = error_count - #{error_count}, update_date=now()
		where pno=#{pno}
	</update>
	
	<!-- 검수 중 불량을 error테이블로 보내기 -->
    <insert id="insertError" parameterType="java.lang.String">
        insert into error
        (pno,pname,divcode,count,error_count,regdate,warehouse_code, id) 
            select pno, pname, 8, 0,0, now() AS regdate, warehouse_code, id 
            from tbl_release 
            where pno=#{pno}
           AND NOT EXISTS (
        SELECT 1 FROM error WHERE error.pno = tbl_release.pno)
    </insert>

    <update id="updateError">
        update error 
        set count = error_count + #{error_count}, regdate = now()
        where pno = #{pno}
    </update>
	
	
	
		

</mapper>