<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.StoreMapper">
	
	<resultMap type="com.itwillbs.domain.ProductVO" id="productMap">
		<result property="pno" column="pno"/>
		<result property="category_code" column="category_code"/>
		<result property="pname" column="pname"/>
		<result property="regdate" column="regdate"/>
		<result property="update_date" column="update_date"/>
		<result property="price" column="price"/>
		<result property="company" column="company"/>
		<result property="sales_price" column="sales_price"/>
		<result property="divcode" column="divcode"/>
		<result property="count" column="count"/>
		<result property="account_code" column="account_code"/>
		<result property="warehouse_code" column="warehouse_code"/>
		<result property="finish_count" column="finish_count"/>
		<result property="remain_count" column="remain_count"/>
		<collection property="codeVO" resultMap="codeVO"/>
	</resultMap>
	
	<resultMap type="com.itwillbs.domain.CategoryVO" id="categoryVO">
		<result property="category_code" column="category_code"/>
		<result property="category" column="category"/>
	</resultMap>
	
	<resultMap type="com.itwillbs.domain.CodeVO" id="codeVO">
		<result property="divcode" column="divcode"></result>
		<result property="daecode" column="daecode"></result>
		<result property="smcode" column="smcode"></result>
		<result property="korname" column="korname"></result>
	</resultMap>
	
	<!-- product 목록 조회 -->
	<select id="productList" resultMap="productMap" parameterType="ProductVO">
		select * 
		from product p 
		join code c on p.divcode = c.divcode
		where p.divcode=1
	</select>
	
	<!-- 제품 목록 조회(페이징처리) -->
	<select id="selectProductListPage" resultType="productVO">
		<![CDATA[
		select * from product 
		where divcode = 1 
		order by regdate desc 
		limit #{page},10
		]]>
	</select>
	
	<!-- 페이징 처리 - Cri -->
	<select id="productListCri" resultType="productVO">
		<![CDATA[
		select * from product p
		join code c 
		on p.divcode = c.divcode
		where p.divcode = 1
		order by p.regdate desc 
		limit #{startPage},#{pageSize}
		]]>
	</select>
	<!-- 총 제품의 개수 -->
	<select id="totalCount" resultType="int">
		select count(pno) from product
	</select>

	
		
	
	<!-- c.korname, p.divcode, p.pno, p.pname, p.count, p.price, p.sales_price, p.account_code -->  
	<select id="selectCodeList" resultType="codeVO">
		select * from code where divcode=1 or divcode=2 or divcode=3
	</select>
	
	<update id="updateProductCode">
		update product set divcode = #{divcode}, remain_count=count, pname=#{pname}
		where pno = #{pno}
	</update>
	
	<insert id="insertInspection">
		insert into inspection(pno,pname,divcode,count,finish_count,remain_count,regdate,update_date,warehouse_code,category_code) 
		values(#{pno},#{pname},#{divcode},#{count},#{finish_count},#{remain_count},#{regdate},now(),#{warehouse_code},#{category_code})
	</insert>
	
	<select id="selectProduct" resultType="ProductVO">
		select * from product 
		where pno = #{pno}
	</select>
	
	<update id="updateCode">
		update store set divcode = #{divcode}, update_date=now()
		where pno = #{pno}
	</update>
	
	

	
	
	
	
	
</mapper>